@media (max-width:550px) { 
    .App {
        width: 100%;
        margin:0;
        padding: 0;
    }
 }

@media (min-width:550px) and  (max-width:768px){ 
    .App {
        width: 550px;
        margin:0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
 }

/* Medium devices (desktops, 992px and up) */
@media(min-width: 768px) { 
    .App {
        width: 768px;
        margin:0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
 }

 .App{
    font-family: 'Roboto', sans-serif;
 }
