:root {
	--main-color-txt: #495057;
	--main-color-one: #fff;
    --main-color-two: #ced4da;
    --main-color-three: #80bdff;
    --main-color-four: rgba(0,123,255,.25);
    --main-color-height-input: 30px;
    --main-color-height-textArea: 100px;
    --main-color-height-select: 30px;
    --main-font-family: 'Roboto', sans-serif;

}
.Form{    
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.Form input{
    height: var(--main-color-height-input);
}

.Form textarea{
    height: var(--main-color-height-textArea);

}


.Form input, .Form textarea{
    font-family: var(--main-font-family);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color-txt);
    background-color: var(--main-color-one);
    background-clip: padding-box;
    border: 1px solid var(--main-color-two);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.radio, .checkbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio>input, .checkbox>input{
    width: 20px;
    height: 15px;
}

.radio>input:focus{
    background-color: transparent !important;
    border-color: transparent !important;;
    box-shadow:0 0 0 0 !important;
    outline: 0;
}

.Form select{
    font-family: var(--main-font-family);
    height: var(--main-color-height-select);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color-txt);
    background-color: var(--main-color-one);
    background-clip: padding-box;
    border: 1px solid var(--main-color-two);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}


.Form input::placeholder{
    color: var(--main-color-txt);
}

.Form input:focus, .Form textarea:focus, .Form select:focus{
    color: var(--main-color-txt);
    background-color: var(--main-color-one);
    border-color: var(--main-color-three);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--main-color-four);
}